@keyframes iconWiggle {
    0%, 100% { rotate: 0deg; }
    20% { rotate: -10deg; }
    40% { rotate: 8deg; }
    60% { rotate: -6deg; }
    80% { rotate: 4deg; }
}

.button{
    align-items: center;
    border: 2px solid transparent;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 600;
    gap: .5rem;
    height: 2.5rem;
    justify-content: center;
    padding-inline: 1rem;
    text-wrap: nowrap;
    transition: .25s;
    width: fit-content;

    &.icon img{ filter: brightness(5); }

    &.icon:is(:hover, :focus-visible):not(:disabled) img{
        animation: iconWiggle .45s ease-in-out;
    }

    &:disabled{
        cursor: not-allowed;
        opacity: .6;
    }

    &.fillWidth{ width: 100%; }
}

.button.color-primary:not(.variant-secondary):not(.variant-text){
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);

    &:is(:hover, :focus-visible):not(:disabled){
        background-color: var(--clr-primary-dark);
        border-color: var(--clr-primary-dark);
    }

    &:active:not(:disabled){
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary-light);
    }
}

.button.color-neutral:not(.variant-secondary):not(.variant-text){
    background-color: var(--clr-neutral-20);
    border-color: var(--clr-neutral-20);

    &:is(:hover, :focus-visible):not(:disabled){
        background-color: var(--clr-neutral-40);
        border-color: var(--clr-neutral-40);
    }
}

.button.variant-secondary{
    background-color: var(--clr-white);

    &.icon > img{ filter: brightness(0); }

    &:is(:hover, :focus-visible):not(:disabled){
        background-color: var(--clr-neutral-85);
    }
}

.button.variant-secondary.color-primary{
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

.button.variant-secondary.color-neutral{
    border-color: var(--clr-neutral-20);
    color: var(--clr-neutral-20);
}

.button.variant-text{
    background-color: var(--clr-neutral-90);
    border: none;

    &.icon > img{ filter: brightness(0); }

    &:is(:hover, :focus-visible):not(:disabled){
        background-color: var(--clr-neutral-80);
    }
}

.button.variant-text.color-primary{
    color: var(--clr-primary);
}

.button.variant-text.color-neutral{
    color: var(--clr-neutral-20);
}

.button.size-sm{
    height: 2rem;
    font-size: .75rem;
    gap: .25rem;
    padding-inline: .75rem;

    &.icon > img{ scale: .7; }
}
