.page{
    display: grid;
    grid-template-columns: 20rem 1fr;
}

/* .categories,
.menuItems {
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
} */

.categories {
    position: sticky;
    top: 2rem;
}