.box {
    border-radius: 1rem;
    box-shadow: 0 4px 12px hsl(200 100% 20% / 0.15);
    box-sizing: border-box;
    padding: var(--space-md);
}

.padding-sm { padding: var(--space-sm); }
.padding-lg { padding: var(--space-lg); }

.fillBackground { background-color: var(--clr-neutral-100); }

.fitContent { width: fit-content; }

.fillWidth { width: 100%; }
