.header{
    background-color: var(--clr-neutral-90);
    border-top: 2px solid hsl(46, 100%, 48%);
    display: flex;
    justify-content: center;
    
    .content{
        gap: 0;
    }
    
    .SescContent{
        background-color: var(--clr-sesc);
        box-sizing: border-box;
        padding-block: .5rem;

        .SescLogo{
            height: 1.5rem;
            width: auto;
        }
    }
    
    .navigation{
        align-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: var(--content-width);
        padding-block: 1rem;
        padding-inline: 2rem;
        width: 100%;

        a{ font-size: var(--fs-md); }
    }

    .title{
        justify-self: start;
    }

    .navigationLinks{
        justify-self: center;
    }

    .logout{
        justify-self: end;
    }
    
    .navigationLinks a:hover{
        text-decoration: underline;
        text-decoration-color: var(--clr-primary-light);
        text-decoration-thickness: 2px;
        text-underline-offset: .25rem;
    }
}
